:root {
    --bg-color: #000000;
    --text-color: #D9D9D9;
    --accent-color: #BB0001;
}
body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.widget {
    background: var(--bg-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px; /* padding */
    width: 220px; /* width */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#lastfm-logo {
    width: 17px; /* Adjust this value as needed */
    height: auto; /* Maintains aspect ratio */
}
.current-song {
    display: flex; /* use flexbox for alignment */
    align-items: center; /* center items vertically */
    margin-bottom: 5px; /* margin */
    height: 20%; /* height */
    min-height: 50px;
}
.current-song img {
    width: 50px; /* Album art size */
    height: 50px; /* Album art size */
    margin-right: 5px; /* Space between image and text */
    border-radius: 4px;
    flex-shrink: 0;
}
.current-song div {
    font-size: 0.7em; /* text size */
    text-align: left; /* Align text to the left */
}
.scrobbles {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}
.scrobble {
    padding: 3px 0; /* padding */
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
    flex-shrink: 0; /* prevent scrobble items from collapsing */
    width: 100%;
}
.scrobble img {
    width: 30px; /* album art size */
    height: 30px; /* album art size */
    margin-right: 5px; /* space between image and text */
    border-radius: 4px;
    flex-shrink: 0;
}
.scrobble div {
    font-size: 0.7em; /* text size */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 170px;
}
