body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.widget {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px; /* padding */
    width: 220px; /* width */
    height: 275px; /* height */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.current-song {
    display: flex; /* use flexbox for alignment */
    align-items: center; /* center items vertically */
    margin-bottom: 5px; /* margin */
    height: 18%; /* height */
    min-height: 50px;
}
.current-song img {
    width: 50px; /* Album art size */
    height: 50px; /* Album art size */
    margin-right: 5px; /* Space between image and text */
    border-radius: 4px;
    flex-shrink: 0;
}
.current-song div {
    font-size: 0.7em; /* text size */
    text-align: left; /* Align text to the left */
}
.scrobbles {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}
.scrobble {
    padding: 3px 0; /* padding */
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
    flex-shrink: 0; /* prevent scrobble items from collapsing */
    width: 100%;
}
.scrobble img {
    width: 30px; /* album art size */
    height: 30px; /* album art size */
    margin-right: 5px; /* space between image and text */
    border-radius: 4px;
    flex-shrink: 0;
}
.scrobble div {
    font-size: 0.7em; /* text size */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 170px;
}
